<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro"
       name="golfbot" >

  <xacro:arg name="transmission_hw_interface" default="hardware_interface/PositionJointInterface"/>

  <!-- common stuff -->
  <xacro:include filename="$(find ur_description)/urdf/common.gazebo.xacro" />

  <!-- ur5 -->
  <xacro:include filename="$(find golfbot)/urdf/ur5.urdf.xacro" />
  <xacro:ur5_robot prefix="" joint_limited="false"
    transmission_hw_interface="$(arg transmission_hw_interface)"
  />

  <!-- golf club -->
  <xacro:include filename="golf_club.urdf.xacro" />
  <xacro:golf_club prefix="" connected_to="tool0" />

  <!-- ddrive -->
  <xacro:include filename="ddrive.urdf.xacro" />


  <joint name="arm_chasis_joint" type="fixed">
    <parent link="ddrive_base_link" />
    <child link = "base_link" />
    <origin xyz="0.0 0.2 0.4" rpy="0.0 0.0 ${pi/2}" />
  </joint>

  <!-- weight block-->
    <link name="weight_block">
        <visual>
            <origin rpy="0 0.0 0.0" xyz="0 -0.15 0.12" />
            <geometry>
                <box size="0.2 0.2 0.2" />
            </geometry>
            <material name="green"/>
        </visual>
        <inertial>
            <origin xyz="0 0 0" rpy="0 -0.15 0.12"/>
            <mass value="50"/>
            <inertia
                ixx="10.0" ixy="0.0" ixz="0.0"
                iyy="10.0" iyz="0.0"
                izz="10.0"/>
        </inertial>
    </link>

    <joint name="weight_to_chasis" type="fixed">
        <parent link="ddrive_base_link"/>
        <child link="weight_block"/>
    </joint>

  <!-- arm base support-->
    <link name="arm_support">
        <visual>
            <origin rpy="0 0.0 0.0" xyz="0 0.2 0.2" />
            <geometry>
                <cylinder radius="0.05" length="0.4"/>
            </geometry>
            <material name="green"/>
        </visual>
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="0.1"/>
            <inertia
                ixx="1.0" ixy="0.0" ixz="0.0"
                iyy="1.0" iyz="0.0"
                izz="1.0"/>
        </inertial>
    </link>

    <joint name="arm_support_to_chasis" type="fixed">
        <parent link="ddrive_base_link"/>
        <child link="arm_support"/>
    </joint>

  <!-- camera support-->
    <link name="camera_support">
        <visual>
            <origin rpy="0 0.0 0.0" xyz="0 0 0.35" />
            <geometry>
                <cylinder radius="0.01" length="0.7"/>
            </geometry>
            <material name="green"/>
        </visual>
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="0.1"/>
            <inertia
                ixx="1.0" ixy="0.0" ixz="0.0"
                iyy="1.0" iyz="0.0"
                izz="1.0"/>
        </inertial>
    </link>

    <joint name="camera_support_to_chasis" type="fixed">
        <parent link="ddrive_base_link"/>
        <child link="camera_support"/>
    </joint>

  <!-- camera -->
  <xacro:include filename="$(find golfbot)/urdf/_d435.urdf.xacro" />
  <xacro:sensor_d435 name="camera" topics_ns="camera" parent="camera_support" publish_pointcloud="true">
    <origin xyz="0 0 0.7" rpy="0 0 ${pi}" />
  </xacro:sensor_d435>

</robot>