<?xml version="1.0" ?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:macro name="golf_club" params="prefix connected_to">
        <joint name="${prefix}_golf_club_joint" type="fixed">
            <parent link="${connected_to}"/>
            <child link="${prefix}_golf_club"/>
            <origin rpy="0 0 0" xyz="0 0 0"/>
        </joint>
        <link name="${prefix}_golf_club">
            <visual>
                <origin rpy="${pi/2} ${pi/2} 0" xyz="-0.1 0.5 0.1" />
                <geometry>
                    <mesh scale="0.005 0.005 0.005" filename="package://golfbot/meshes/golf_club.stl"/>
                </geometry>
            </visual>
            <collision>
                <origin rpy="${pi/2} ${pi/2} 0" xyz="-0.1 0.5 0.1" />
                <geometry>
                    <mesh scale="0.005 0.005 0.005" filename="package://golfbot/meshes/golf_club.stl"/>
                </geometry> 
            </collision>

        </link>

    </xacro:macro>

</robot>