<?xml version="1.0" ?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:macro name="golf_club" params="prefix connected_to">
        <joint name="${prefix}_golf_club_joint" type="fixed">
            <parent link="${connected_to}"/>
            <child link="${prefix}_golf_club"/>
            <origin rpy="0 0 0" xyz="0 0 0"/>
        </joint>
        <link name="${prefix}_golf_club">
            <visual>
                <origin rpy="${pi} ${pi/2} 0" xyz="0.0 0.6 0.0" />
                <geometry>
                    <mesh scale="0.005 0.005 0.005" filename="package://golfbot/meshes/golf_club.stl"/>
                </geometry>
            </visual>
            <collision>
                <origin rpy="${pi} ${pi/2} 0" xyz="0.0 0.6 0.0" />
                <geometry>
                    <mesh scale="0.005 0.005 0.005" filename="package://golfbot/meshes/golf_club.stl"/>
                </geometry> 
            </collision>

        </link>

    <gazebo reference="${prefix}_golf_club">
        <mu1>1</mu1>
        <mu2>1</mu2>
        <kp>500000</kp>
        <kd>0</kd>
        <minDepth>0</minDepth>
        <maxVel>1000</maxVel>
    </gazebo>

    </xacro:macro>

</robot>