<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro"
       name="ur5" >

  <xacro:arg name="transmission_hw_interface" default="hardware_interface/PositionJointInterface"/>

  <!-- common stuff -->
  <xacro:include filename="$(find ur_description)/urdf/common.gazebo.xacro" />

  <!-- ur5 -->
  <xacro:include filename="$(find golfbot)/urdf/ur5.urdf.xacro" />

  
  
  <!-- arm -->
  <xacro:ur5_robot prefix="" joint_limited="false"
    transmission_hw_interface="$(arg transmission_hw_interface)"
  />


  <!-- golf club -->
  <xacro:include filename="golf_club.urdf.xacro" />
  <!-- <xacro:golf_club prefix="" connected_to="tool0" /> -->

  <!-- ddrive -->
  <xacro:include filename="ddrive.urdf.xacro" />


  <!-- camera link -->
  <xacro:include filename="$(find golfbot)/urdf/_d435.urdf.xacro" />

  <xacro:sensor_d435 name="camera" topics_ns="camera" parent="world" publish_pointcloud="true">
    <origin xyz="0 0 0.4" rpy="0 0 ${pi/2}" />
  </xacro:sensor_d435>


  <link name="world" />

  <joint name="world_joint" type="fixed">
    <parent link="world" />
    <child link = "base_link" />
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
  </joint>

  <joint name="ddrive_joint" type="fixed">
    <parent link="base_link" />
    <child link = "ddrive_base_link" />
    <origin xyz="0.0 0.0 5.0" rpy="0.0 0.0 0.0" />
  </joint>

</robot>
