<launch>
  <arg name="distance" default="5.0" doc="user set distance" />
  <include file="$(find golfbot)/launch/golf_ur5.launch" />

  <!-- <include file="$(find gazebo_panda)/launch/simple_world.launch" /> -->
  <!-- <include file="$(find ur5_moveit_config)/launch/ur5_moveit_planning_execution.launch">
    <arg name="sim" value="true" />
  </include>

  <include file="$(find ur5_moveit_config)/launch/moveit_rviz.launch">
    <arg name="config" value="true" />
  </include> -->


  <node name="swing" pkg="golfbot" type="swing" output="screen"/>
  <node name="vision" pkg="golfbot" type="vision" output="screen"/>
  <node name="moving" pkg="golfbot" type="moving" output="screen"/>

  <node name="sdf_spawn" pkg="gazebo_ros" type="spawn_model" args="-file $(find golfbot)/urdf/model.sdf -sdf -model goal -x 1.0187 -y $(arg distance) " respawn="false" output="screen" />

</launch>